    ##annotation-start####godao-column####annotationbracketstart###"field-name"###annotationbracketend##annotation-end##
    ##field-encaps## #field-type# #field-name###line-end##
    ##getter-encaps## ##function## #field-type# ##get-prefix###fieldnamegetter#()##bracket-start##
        return ##this####dot###field-name###line-end##
    ##bracket-end##
    ##setter-encaps## ##function## ##void## ##set-prefix###fieldnamegetter#(#field-type# #field-name#)##bracket-start##
        ##this####dot###field-name#=#field-name###line-end##
    ##bracket-end##
