##namespace## #package-value###line-end##
##import## ##godao-package####line-end##
##annotation-start####godao-table####annotationbracketstart##"#class-name#"##annotationbracketend####annotation-end##
##class-encaps## ##class## #class-name###bracket-start##
###fields###
##bracket-end##